<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jxb.myrfid">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <!--    添加权限    -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.jxb.myrfid.UHFApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--指定接受广播的类-->
        <receiver android:name="com.jxb.myrfid.service.ServiceBroadcastReceiver">
            <intent-filter >
                <action android:name="NotifyServiceStart"/>
                <action android:name="NotifyServiceStop" />
            </intent-filter>
        </receiver>

        <!--指定服务类-->
        <service
            android:name="com.jxb.myrfid.service.USBService">
        </service>

    </application>

</manifest>